In [69]:
#Academy of Py
# Import the Pandas library
import pandas as pd
import numpy as np

pd.options.display.max_rows = 10

In [70]:
# Create a reference the CSV file desired
schools_df = pd.read_csv('schools_complete.csv')

In [71]:
# Create a reference the CSV file desired
students_df = pd.read_csv('students_complete.csv')

In [72]:
#Createa districts dataframe
districts_df = pd.DataFrame({})

In [73]:
districts_df["Total Schools"] = [schools_df["name"].count()]

In [74]:
districts_df["Total Students"] = [schools_df["size"].sum()]

In [75]:
districts_df["Total Budget"] = [schools_df["budget"].sum()]

In [76]:
districts_df["Average Math Score"] = [students_df["math_score"].sum()]/students_df["math_score"].count()

In [77]:
districts_df["Average Reading Score"] = [students_df["reading_score"].sum()]/students_df["reading_score"].count()

In [78]:
# Districts Summary
districts_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,15,39170,24649428,78.985371,81.87784

In [79]:
# School Summary - Start
result = pd.DataFrame()
result['School Name'] = schools_df['name']
result['School Type'] = schools_df['type']
result['Total Students'] = schools_df['size']
result['Total School Budget'] = schools_df['budget']
result['Per Student Budget'] = schools_df['budget'] / schools_df['size']

In [80]:
math_table = pd.DataFrame(students_df.groupby(['school'])['math_score'].mean())

In [81]:
reading_table = pd.DataFrame(students_df.groupby(['school'])['reading_score'].mean())

In [82]:
result = result.merge(math_table, left_on=['School Name'], right_index=True)
result = result.rename(columns={'math_score': 'Avg Math Score'})
result = result.merge(reading_table, left_on=['School Name'], right_index=True)
result = result.rename(columns={'reading_score': 'Avg Reading Score'})

In [83]:
# binning to determine buckets of pass and fail scored in Math, Reading and Overall
bins = [0, 75, 100]
group_names = ['Fail', 'Pass']
students_df['Math PF'] = pd.cut(students_df["math_score"], bins, labels=group_names)
students_df['Reading PF'] = pd.cut(students_df['reading_score'], bins, labels=group_names)

In [84]:
x = pd.DataFrame(students_df.loc[students_df['Math PF'] == 'Pass'].groupby(['school'])['Math PF'].count())

In [85]:
result = result.merge(x, left_on=['School Name'], right_index=True)
result = result.rename(columns={'Math PF': '# Passing Math'})

In [86]:
result['% Passing Math'] = result['# Passing Math'] / result['Total Students']
del result['# Passing Math']

In [87]:
x = pd.DataFrame(students_df.loc[students_df['Reading PF'] == 'Pass'].groupby(['school'])['Reading PF'].count())

In [88]:
result = result.merge(x, left_on=['School Name'], right_index=True)
result = result.rename(columns={'Reading PF': '# Passing Reading'})

In [89]:
result['% Passing Reading'] = result['# Passing Reading'] / result['Total Students']
del result['# Passing Reading']

In [90]:
students_df['Pass Both'] = (students_df['math_score'] > 75) & (students_df['reading_score'] > 75)
students_df
x = pd.DataFrame(students_df.loc[students_df['Pass Both'] == True].groupby(['school'])['Pass Both'].count())

In [91]:
result = result.merge(x, left_on=['School Name'], right_index=True)
result = result.rename(columns={'Pass Both': '# Passing Both'})

In [92]:
result['% Passing Both'] = result['# Passing Both'] / result['Total Students']
del result['# Passing Both']

In [93]:
# School Summary - End
result

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.519026,0.657525,0.341104
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.520515,0.663276,0.339098
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.754685,0.766042,0.580352
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.542179,0.646170,0.350378
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.744550,0.761580,0.561308
...,...,...,...,...,...,...,...,...,...,...
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.765556,0.778333,0.589444
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.526382,0.643411,0.334584
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.526570,0.649653,0.339845
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.545820,0.641475,0.351588
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.748624,0.757798,0.567584

In [94]:
# Top Performaing Schools By Passing Rate
#top_5 = result.nlargest(5,'# Passing Both')
result = result.sort_values("% Passing Both", ascending=False)
result.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.765556,0.778333,0.589444
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.738046,0.772349,0.581081
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.754685,0.766042,0.580352
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.741568,0.781428,0.579063
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.735199,0.771259,0.567815

In [95]:
# Bottom Performing Schools By Overall Passing Rate
result.tail()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.542179,0.646170,0.350378
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.519026,0.657525,0.341104
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.526570,0.649653,0.339845
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.520515,0.663276,0.339098
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.526382,0.643411,0.334584

In [96]:
# Math scores by grade and school
math_table = pd.DataFrame(students_df.groupby(['school', 'grade'], as_index=False)['math_score'].mean())
math_table = math_table.pivot_table('math_score', ['school'], ['grade'])
math_table = math_table[['9th', '10th', '11th', '12th']]
math_table

grade                        9th       10th       11th       12th
school
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
...                          ...        ...        ...        ...
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

[15 rows x 4 columns]

In [97]:
# Reading scores by grade and school
reading_table = pd.DataFrame(students_df.groupby(['school', 'grade'], as_index=False)['reading_score'].mean())
reading_table = reading_table.pivot_table('reading_score', ['school'], ['grade'])
reading_table = reading_table[['9th', '10th', '11th', '12th']]
reading_table

grade                        9th       10th       11th       12th
school
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
...                          ...        ...        ...        ...
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

[15 rows x 4 columns]

In [99]:
print("Trends: ")
print("\n1. Students in district schools did better in Reading than Math.")
print("\n2. Students at charter schools did better in Math and Reading than  district schools.")

Trends:

1. Students in district schools did better in Reading than Math.

2. Students at charter schools did better in Math and Reading than  district schools.